<body class="d-flex flex-column min-vh-100">
  <div class="container">
    <h4>New Category</h4>
    <form action="/<%= category.slug %>/<%= thread.slug %> " method="POST">
      <div class="form-group mb-1">
        <label for="title" class="mb-1">Title</label>
        <input type="text" name="title" id="title" class="form-control" value="<%= thread.title %>" required>
      </div>
      <a href="/" class="btn btn-sm btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>
  </div>
</body>