<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container p-2">
    <a class="navbar-brand px-2" href="#"><h1>A huge bulletin board.</h1></a>
    <form class="form-inline px-2">
      <button class="btn btn-sm btn-outline-secondary" type="button" href="/thread/new">Add Category</button>
      <button class="btn btn-sm btn-primary" type="button">Login</button>
    </form>
  </div>
</nav>