<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container p-2">
    <a class="navbar-brand px-2" href="/">
      <h1>HugeBoard.</h1>
    </a>
    <form class="form-inline px-2">
      <a href="/category/new" class="btn btn btn-secondary" type="button">Add Category</a>
      <a href="/login" class="btn btn btn-primary" type="button">Login</a>
    </form>
  </div>
